.homeTitle {
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.homeBody {
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.homeLink {
  text-align: center;
  margin: 20px;
  padding: 20px;
}
