.formField {
    margin: 5%;
    padding: 5%;
    text-align: center;
}

.Component {
    padding: 10px;
    margin: 10px;
}

.selfCheckTitle{
    text-align:center;
    padding: 10px;
    margin: 10px;
}
